$black: #000;
$light-grey: #ccc;
$white: #fff;
$primary: blue;
$font__color: $black;
$body__bg_color: #eaf4f4;
$content__bg_color: $white;
$button-primary__background_color: blue;
$button-secondary__background_color: #6c757d;
$button-success__background_color: #28a745;
$button-danger__background_color: #dc3545;
$button-warning__background_color: #ffc107;
$button-info__background_color: #17a2b8;
$button__color: $white;
$form__border_color: $light-grey;